<div
	import:Parent="./Parent"
	import:theme="./Theme.css"
	
	extends:Parent
>
	<h1
		style:theme="header"
		@class:theme:blue|green|orange="headerTheme|green"
	>{header|Hello}</h1>
	
	<button
		style:theme="btn blue"
		event:toggleBlueHeader="click"
	></button>
	
	<button
		style:theme="btn green"
		event:toggleGreenHeader="click"
	></button>
	
	<button
		style:theme="btn orange"
		event:toggleOrangeHeader="click"
	></button>
	
	<hr/>
	
	<div>
		<p
			style:theme="description"
			@class:theme:visible="showDesc|true"
		>{description|My best time}</p>
		
		<button
			style:theme="btn"
			event:toggleDesc="click"
		>{stateDesc|Hide}</button>
	</div>

</div>