.header {
  color: blueviolet;
}

.header.blue {
  color: blue;
}

.header.green {
  color: green;
}

.header.orange {
  color: orange;
}

.description {
  display: none;
  color: deepskyblue;
  font-size: 20px;
}

.visible {
  display: block;
}

.btn {
  border: none;
  background: blueviolet;
  color: #b1eeff;
  padding: 20px;
  margin-right: 8px;
  min-width: 30px;
  min-height: 30px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn.blue{
  background: blue;
}

.btn.green {
  background: green;
}

.btn.orange {
  background: orange;
}