<div
	import:List="@nrgsoft/data/List"
	import:Trait1="@nrgsoft/data/Trait1"
	import:Trait2="@nrgsoft/data/Trait2"
	import:theme="./theme.css"
	
	extends:List
	
	use:="Trait1 Trait2"
	use:Trait1
	use:Trait2
	
	style:="theme.green theme.red"
	style:theme.Link
	style:theme.redLink
	
	class:var1|var2="theme.active|theme.inactive"
	
	prop:itemClass="Item"
>
	<h2 prop:title>List</h2>
	
	<img attr:src="url|http://logo.com/1.png" src=""/>
	
	<ul prop:listContainer></ul>
	
</div>