.vendor-lib-Component {
  padding: 10px;
  height: 50vh;
  background: #346f97;
  color: #ffffff;

  &--bordered {
    border: blueviolet 7px solid;
  }

  &--radius {
    border-radius: 12px;
  }

  &__title {
    padding: 5px;
    font-family: Arial, serif;
    background: deepskyblue;
  }

  &__content {
    padding: 5px;
    font-family: Arial, serif;
    font-size: 1.2rem;
    background: coral;

    &--green {
      background: greenyellow;
    }
  }
}