<div
	bem:block="vendor-lib-Component"
	bem:modifiers="bordered"
>
	<h1
		bem:element="title"
	>Welcome Article</h1>
	
	<p
		prop:content
		bem:element="content"
	>Bla bla bla bla bla bla</p>
	
	<button
		event:toggleStyle="click"
	>Click me</button>
</div>