<div
	import:List="./List2"
	import:Item="./Item.html"
	attr:style="styles"
>
	
	<h1
		mount:appendTitle
	> Hello {@title|NrgSoft} </h1>
	
	<List
		mount:appendList
		prop:list
		prop:thisA="a"
		prop:thisB="b"
		prop:items="items"
		event:select="click"
		event:clickTitle="title.click"
		a="100"
		b="200"
		insert:subList
	>
		<div style="background: blueviolet; color: #ffffff">
			<h3>Child - 1</h3>
		</div>
		<div style="background: blueviolet; color: #ffffff">
			<h3>Child - 2</h3>
		</div>
		<Item content="New Item" />
	</List>
</div>